
[data-tab-content]{
display : none;
}
a:link{
  color:green;
  background-color: transparent;
  text-decoration: none;
  
}

a:visited{
  color:rgb(224, 66, 18);
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  color:red;
  background-color: transparent;
  text-decoration: underline;
}
a:active{
  color:yellow;
  background-color: transparent;
  text-decoration: underline;
}
form{
  border-radius: #96D4D4 ;
}
.tenor-gif-embed{
margin-left: 450px;
}
.active[data-tab-content]{
  display: block;
}

body
{
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-sherrif;
  color: rgb(196, 11, 156);
  background-color: #f5bb3f; 
  text-align: center;
}

.thebrand{
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-sherrif;
  color: rgb(250, 246, 248);
  background-color: #E95B5B; 
  flood-color: #E95B5B;
  text-align: left;
}



.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type:none ;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black ;
}

.tab{
  cursor: pointer;
  padding : 10px;
}

.tab.active{
  background-color: #AAA;
}

.tab:hover{
  background-color: #CCC;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

header
{
 font-family: Courier, serif;
 text-align: center;
 color: rgb(224, 66, 18);
 
 
}
h3{
  text-align: center;
  font-family: Tahoma, sans-sherrif;
  color: rgb(196, 11, 156);

}
.text{
  text-align: center;
}

footer
{
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
ol{
  text-align: left;
  margin-left: 500px;
  padding: 0;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  margin-left: 400px;
}
th, td {
  background-color: #96D4D4;
}
figcaption{
  font-style: italic;
}