body
{
  font-family: Tahoma, sans-sherrif;
  color: #EE92C2;
  background-color: #EFBC9B; 
}

header
{
 font-family: Courier, serif;
 text-align: center;
 color: orange;
 
 
}
footer
{
  font-style: italic;
}