title{
    text-align: center;
    font-family: Courier, serif;
    color: orange;
    font-size: medium;
}
body
{
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-sherrif;
  color: rgb(240, 111, 175);
  background-color: #f5bb3f;
  text-align: center;
}
header
{
 font-family: Courier, serif;
 text-align: center;
 color: orange;
 
 
}